aiohttp>=3.9.4

arnparse

aws-requests-auth

bleach

boto3

cachetools==5.5.0

celery[redis,sqs]

click

contexttimer

cryptography

ddtrace

Django>=4.2.7,<5.0.0

django-cache-friendly-timestamp-signer

django-cors-headers

django-countries

django-cte

django-dirtyfields

django-fast-update

django-filter

django-imagekit

django-polymorphic

# django-redis-cache
# The official "django-redis-cache" is outdated and was forcing us to use a version of redis which was out of date (3 years)...
django-redis-cache==1.0.0

django-snowflake==4.2.3

django-sortedm2m

django-storages

django-tenants

django-timezone-field

# We are currently using the first commit of drf which officially supports Django 4.2 (Since there was no "compatible" release of drf
# when we upgraded to Django 4.2, we decided to use the "best" commit that was available at the time)
# ValidationError was monkeypatch to replicate a [revert](https://github.com/encode/django-rest-framework/pull/9326) => api/__init__.py::monkey_patch_drf_validation_error
djangorestframework @ git+https://github.com/encode/django-rest-framework.git@605cc4f7367f58002056453d9befd3c1918f6a38

djangorestframework-csv

djangorestframework-filters==1.0.0.dev2

drf-extensions==0.7.1

Faker

geoip2

gunicorn[gthread]

hiredis

inflection

jmespath

langchain>=0.0.325

launchdarkly-server-sdk

logstash-formatter

lxml

markdown

maxminddb

netaddr

objproxies

openai

openapi-codec

openapi-spec-validator

openpyxl

PyPDF

Pillow

pgvector

psutil

psycopg2-binary

pusher

pusher_push_notifications

pybreaker

pycryptodome

PyJWT

pymemcache

python-dateutil

python-magic

python-redis-lock

python-snappy

pytz

PyYAML

redis

requests

semver

sentry-sdk

tabulate

tenacity

tzdata

Unidecode

urllib3<2

XlsxWriter
